<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Menu Items</title>
		<link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Raleway" rel="stylesheet">
		<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
	</head>
	<body>
		<div class="header">
			<h1>{{restaurant.name}}</h1>
		</div>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
			<ul>
				{% for message in messages %}
					<li><strong>{{message}}</strong></li>
				{% endfor %}
			</ul>
			{% endif %}
		{% endwith %}
		{% if items %}
		{% if appetizers %}
		<div class="restaurant">
			<h2>Appetizers</h2>
			{% for appetizer in appetizers %}
				<div>
					<h3>{{appetizer.name}}</h3>
					<p>{{appetizer.description}}</p>
					<h4>{{appetizer.price}}</h4>
					<a href="{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = appetizer.id)}}">Edit</a>
					<a href="{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = appetizer.id)}}">Delete</a>
				</div>
			{% endfor %}
		</div>
		{% endif %}
		{% if entrees %}
		<div class="restaurant">
			<h2>Entrees</h2>
			{% for entree in entrees %}
				<div>
					<h3>{{entree.name}}</h3>
					<p>{{entree.description}}</p>
					<h4>{{entree.price}}</h4>
					<a href="{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = entree.id)}}">Edit</a>
					<a href="{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = entree.id)}}">Delete</a>
				</div>
			{% endfor %}
		</div>
		{% endif %}
		{% if desserts %}
		<div class="restaurant">
			<h2>Desserts</h2>
			{% for dessert in desserts %}
				<div>
					<h3>{{dessert.name}}</h3>
					<p>{{dessert.description}}</p>
					<h4>{{dessert.price}}</h4>
					<a href="{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = dessert.id)}}">Edit</a>
					<a href="{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = dessert.id)}}">Delete</a>
				</div>
			{% endfor %}
		</div>
		{% endif %}
		{% if beverages %}
		<div class="restaurant">
			<h2>Beverages</h2>
			{% for beverage in beverages %}
				<div>
					<h3>{{beverage.name}}</h3>
					<p>{{beverage.description}}</p>
					<h4>{{beverage.price}}</h4>
					<a href="{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = beverage.id)}}">Edit</a>
					<a href="{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = beverage.id)}}">Delete</a>
				</div>
			{% endfor %}
		</div>
		{% endif %}
		{% else %}
			<div class="error">You currently have no menu items.</div>
		{% endif %}
		<div class="new">
			<a href="{{url_for('newMenuItem', restaurant_id = restaurant.id)}}">Create New Menu Item</a>
		</div>
	</body>
</html>
