<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>New Restaurant</title>
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
		<link rel="stylesheet" href="{{url_for('static', filename='edit.css')}}">
	</head>
	<body>
		<div class="container">
			<h1>New Restaurant</h1>
			<form method="POST" action="/restaurant/new">
				<input type="text" name="name">
				<input type="submit" value="Create" class="button">
			</form>
		</div>
	</body>
</html>
